html,
body,
#main {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 20rem;
  width: 100%;
  height: 100%;
}

.widgetSpace {
  zoom: 0.7;
}


@media only screen and (min-width: 430px) and (max-width: 559px) {
  .widgetSpace {
    zoom: 0.8;
  }
}

@media only screen and (min-width: 560px) {
  .widgetSpace {
    zoom: 1;
  }
}

.webex-message-composer-wrapper {
  /* display: none; */
  border: 1px solid #0000001f;
}

.connectButton {
  margin: 1rem 0;
}